body{
	width: 80%;
	margin: 0 auto;
	background-color: #afafaf;
	font-family: Verdana, Geneva, sans-serif; 
}
h1, h2, h3{
	text-align: center;
}

ul{
	text-align: center;
}

.mainNav ul li{
	display: inline;
	padding: 8px 17px 8px 17px;
	border: 2px solid;
	border-radius: 5px;
}
.mainNav ul li:hover{
	background-color: #cccccc;
}
a, a:visited{
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

div.main-table-container{
	width: 100%;
	margin: 0 auto;

}
table.main-table{
	width: 100%;
	margin: 0 auto;
	border-spacing: 0 15px;
	

}
tr.main-table-header-row, tr.main-table-row{
	border-right: 3px solid black;


}
td, th{
	text-align: left;
	font-size: 20px;

}
th{
	font-size: 23px;
}
td{
	text-align: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-decoration: none;
}
td:first-of-type{
	border-left: 2px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 2px solid black;
}
td:last-of-type{
	border-right: 2px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
table tr.vacation-row:hover td{
	background-color: #efefef;
}

tbody:hover td {
    color: transparent;
}

tbody:hover tr:hover td {
    color: #000000;
}
.details-button{
	text-decoration: none;
}

/* details.php */
div.vacation-table-container{
	margin: 0 auto;
}
table.vacation-table{
	width: 100%;
	margin: 0 auto;
	border-spacing: 0 15px;
}

